body{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eeeeee;
}

form.new-entry, form.filters{
	display: none;
}

div.splash{
	width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a.splash{
	color: #00CC7F;	
	font-size: 3em;
}

.language-level{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.username{
	font-size: 1.5em;
}